
#copy {
    width: 40%;
    height: 64px;
    font-size: 1.5rem;
    position: relative;
    color: whitesmoke;
    border-radius: 24px;
    background-color: rgb(10, 10, 10);
    transition: 0.4s;
    z-index: 2;
}

#copy:hover {
    cursor: pointer;
    border: 3px solid whitesmoke;
    background-color: rgb(20, 20, 20);
    border-radius: 0px 24px 24px 24px;
    transition: 100ms;
}

#paste {
    text-align: center;
    font-size: 1rem;
    position: relative;
    width: 15%;
    height: 32px;
    top: 62%;
    right: 0px;
    margin-right: 20px;
    color: whitesmoke;
    border-radius: 24px;
    background-color: rgb(10, 10, 10);
    transition: 0.4s;
}

#paste:hover {
    cursor: pointer;
    border: 3px solid whitesmoke;
    background-color: rgb(20, 20, 20);
    border-radius: 0px 24px 24px 24px;
    transition: 100ms;
}

#clear {
    text-align: center;
    font-size: 1rem;
    position: relative;
    width: 15%;
    height: 32px;
    top: 62%;
    right: 0px;
    color: whitesmoke;
    border-radius: 24px;
    background-color: rgb(10, 10, 10);
    transition: 0.4s;
}

#clear:hover {
    cursor: pointer;
    border: 3px solid whitesmoke;
    background-color: rgb(20, 20, 20);
    border-radius: 0px 24px 24px 24px;
    transition: 100ms;
}

#clearall {
    width: 40%;
    height: 64px;
    font-size: 1rem;
    position: relative;
    color: whitesmoke;
    border-radius: 24px;
    background-color: rgb(10, 10, 10);
    transition: 0.4s;
    z-index: 2;
}

#clearall:hover {
    cursor: pointer;
    border: 3px solid whitesmoke;
    background-color: rgb(20, 20, 20);
    border-radius: 0px 24px 24px 24px;
    transition: 100ms;
}

#encoder {
    width: 47%;
    height: 64px;
    font-size: 1.5rem;
    position: relative;
    color: whitesmoke;
    border-radius: 24px;
    background-color: rgb(10, 10, 10);
    transition: 0.4s;
}

#encoder:hover {
    cursor: pointer;
    border: 3px solid whitesmoke;
    background-color: rgb(20, 20, 20);
    border-radius: 0px 24px 24px 24px;
    transition: 100ms;
}

#decoder {
    width: 47%;
    height: 64px;
    font-size: 1.5rem;
    position: relative;
    color: whitesmoke;
    border-radius: 24px;
    background-color: rgb(10, 10, 10);
    transition: 0.4s;
}

#decoder:hover {
    cursor: pointer;
    border: 3px solid whitesmoke;
    background-color: rgb(20, 20, 20);
    border-radius: 0px 24px 24px 24px;
    transition: 100ms;
}

@keyframes buttonsquish {
    0% {transform: scale(100%);
        border-radius: 0px 24px 24px 24px;
        ;}
    50% {transform: scale(90%);
        border-radius: 24px 24px 24px 24px;
        ;}
    100% {transform: scale(100%);
        border-radius: 0px 24px 24px 24px;
        ;}
}

@keyframes gradientAnimation {
    0% {background-color: #32c832;}
    50% {background-color: #32f032;}
    100% {background-color: #32c832;}
}

.buttonsquish {
    animation: buttonsquish 75ms linear;
}

.buttonpressed {
    transform: scale(95%);
    transition: 500ms;
}