@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Noto Serif", serif;
    color: whitesmoke;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body {
    width: 97vw;
    height: 95vh;
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    overflow: hidden;
}

.header-container {
    text-align: center;
    align-content: center;
    background-color: black;
    position: static;
    left: 0px;
    width: 100vw;
    height: 10%;
    padding: 10px;
}

.app-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80vh;
}

.app-container__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30%;
    height: 100%;
}

.app-container__input__warning {
    display:flex;
    margin-top: 20px;
}

.app-container__input__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.app-container__input__buttons2 {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    bottom: 31%;
    margin: 20px;
}

.app-container__output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    resize: none;
    position: relative;
    width: 25%;
    height: 90%;
}

.app-container__output__msgandbtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.app-container__output__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    font-size: 1rem;
    z-index: 2;
}

.app-container__output__buttons {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    bottom: -40%;
}

.app-container__output h2 {
    font-size: 1.25rem;
    color: whitesmoke;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 2rem;
    align-content: center;
    background-color: black;
    position: static;
    width: 100vw;
    height: 8%;
}

.footer-container__text {
    animation: glow2 2s linear infinite;
}

.gitimage {
    display: flex;
    width: 40px;
    height: 40px;
    margin-left: 50px;
}

.visibilityoff {
    display: none;
}

@keyframes glow {
    0% {color: blue};
    50% {color:aqua};
    100% {color: blue}
}

@keyframes glow2 {
    0% {color: lightsteelblue};
    50% {color:lightcyan};
    100% {color: lightsteelblue}
}

.shiny {
    animation: glow 2s linear infinite;
    font-size: 150%;
}


@media (max-width: 768px) {

    *{
        font-size: 12px;
    }

    body {
        height: 1174px;
        overflow: visible;
    }

    .header-container h2 {
        font-size: 24px;
    }

    .app-container {
        flex-direction: column;
        height: 1174px;
    }

    .app-container__input {
        width: 60%;
        height: 100%;
    }

    .app-container__input__warning {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .app-container__input__buttons {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .app-container__output {
        width: 60%;
        margin-top: -10%;
    }

    .footer-container {
        bottom: auto;
    }
}


@media (max-width: 375px) {

    *{
        font-size: 12px;
    }

    body {
        height: 1715px;
        overflow: visible;
    }

    .header-container h2 {
        font-size: 24px;
    }

    .app-container {
        flex-direction: column;
        height: 1715px;
    }

    .app-container__input {
        width: 60%;
        height: 100%;
    }

    .app-container__input__warning {
        margin-top: 5px;
    }
    
    .app-container__input__buttons {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .app-container__output {
        width: 60%;
        margin-top: -10%;
    }

    .footer-container {
        bottom: auto;
    }
}
